* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
#sectionSend { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
#m { border: 0; padding: 10px; width: 100%; }
/*#send { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }*/
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
.connectTitle li {background-color: green; }
.disconnectTitle li {background-color: red; }
#typing {color: purple; padding: 5px 10px;}
#onlineUsers {
	color: green;
    float: right;
    border-left: 2px solid green;
    width: 30%;
    padding: 0px 10px;
    list-style-type: none;
}
#onlineUsers li { 
	padding: 5px 10px;
}


.encryptionElement {
	float:left;
}
#key {
	float:left;
}
.keyBt {
	display: block;
}
.encryptionLable {
	float: left;
}
#encryption {
	background-color: gainsboro;
	margin-left: 1%;
  	margin-right: 1%;
  	padding: 10px;
}